// Misc.
$misc: (
    z-index-base:		10000
);

// Duration.
$duration: (
    nav:				0.5s,
    transition:			0.2s
);

// Size.
$size: (
    navPanel-width:		20em,
    border-radius:		5px,
    border-width:		1px,
    element-height:		2.75em,
    element-margin:		2em,
    inner-width:		(
        default:		70em,
        large:			100%
    )
);

// Font.
$font: (
    family:				('Open Sans', Helvetica, sans-serif),
    family-fixed:		('Courier New', monospace),
    weight:				300,
    weight-bold:		700
);

// Palette.
{{ $palette := (index .Site.Params.palettes .Site.Params.palette).sass }}
$palette: (
    bg:					#fff,
    fg:					#5e6875,
    fg-bold:			#4d5968,
    fg-light:			#7e8895,
    border:				rgba(144,144,144,0.25),
    border-bg:			rgba(144,144,144,0.075),
    border2:			rgba(144,144,144,0.5),
    border2-bg:			rgba(144,144,144,0.2),
    highlight:			accent1,
    gradient1:			{{ $palette.gradient1 }},
    gradient2:			{{ $palette.gradient2 }},

    accent1: (
        bg:				{{ $palette.accent1 }},
        fg:				mix({{ $palette.accent1 }}, #ffffff, 25%),
        fg-bold:		#ffffff,
        fg-light:		mix({{ $palette.accent1 }}, #ffffff, 40%),
        border:			rgba(255,255,255,0.25),
        border-bg:		rgba(255,255,255,0.075),
        border2:		rgba(255,255,255,0.5),
        border2-bg:		rgba(255,255,255,0.2),
        highlight:		accent1
    ),

    accent2: (
        bg:				{{ $palette.accent2 }},
        fg:				mix({{ $palette.accent2 }}, #ffffff, 25%),
        fg-bold:		#ffffff,
        fg-light:		mix({{ $palette.accent2 }}, #ffffff, 40%),
        border:			rgba(255,255,255,0.25),
        border-bg:		rgba(255,255,255,0.075),
        border2:		rgba(255,255,255,0.5),
        border2-bg:		rgba(255,255,255,0.2),
        highlight:		accent2
    ),

    accent3: (
        bg:				{{ $palette.accent3 }},
        fg:				mix({{ $palette.accent3 }}, #ffffff, 25%),
        fg-bold:		#ffffff,
        fg-light:		mix({{ $palette.accent3 }}, #ffffff, 40%),
        border:			rgba(255,255,255,0.25),
        border-bg:		rgba(255,255,255,0.075),
        border2:		rgba(255,255,255,0.5),
        border2-bg:		rgba(255,255,255,0.2),
        highlight:		accent3
    ),

    accent4: (
        bg:				rgba(21,27,33,0.6),
        bg-alt:			#2F373F,
        fg:				#ffffff,
        fg-bold:		#ffffff,
        fg-light:		#ffffff,
        border:			#ffffff,
        border-bg:		rgba(255,255,255,0.075),
        border2:		#ffffff,
        border2-bg:		rgba(255,255,255,0.2),
        highlight:		accent4
    )
);
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
@import 'font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,700,300');

/*
	Archetype by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

// Breakpoints.

	@include breakpoints((
		xlarge:   ( 1281px,  1680px ),
		large:    ( 981px,   1280px ),
		medium:   ( 737px,   980px  ),
		small:    ( 481px,   736px  ),
		xsmall:   ( null,    480px  )
	));

// Mixins.

	@mixin color($p) {
		@include color-typography($p);
		@include color-box($p);
		@include color-button($p);
		@include color-form($p);
		@include color-list($p);
		@include color-section($p);
		@include color-table($p);
	}

	@mixin banner-bg($image, $overlay: false) {
		$background-image: (
			'url("images/overlay.png")',
			'linear-gradient(45deg, #{transparentize(_palette(gradient1), 0.35)}, #{transparentize(_palette(gradient2), 0.35)})',
			'url("#{$image}")'
		);

		$background-size: (
			auto,
			cover,
			cover
		);

		$background-attachment: (
			fixed,
			fixed,
			fixed
		);

		$background-repeat: (
			repeat,
			no-repeat,
			no-repeat
		);

		@if $overlay {
			$background-image: join(('linear-gradient(top, #{_palette(accent4, bg)}, #{_palette(accent4, bg)})'), $background-image);
			$background-size: join((auto), $background-size);
			$background-attachment: join((fixed), $background-attachment);
			$background-repeat: join((repeat), $background-repeat);
		}

		@include vendor('background-image', $background-image);
		background-position: center center;
		background-size: $background-size;
		background-attachment: $background-attachment;
		background-repeat: $background-repeat;
	}

// Base.

	@import 'base/reset';
	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/row';
	@import 'components/box';
	@import 'components/button';
	@import 'components/form';
	@import 'components/icon';
	@import 'components/image';
	@import 'components/list';
	@import 'components/actions';
	@import 'components/icons';
	@import 'components/features';
	@import 'components/posts';
	@import 'components/section';
	@import 'components/table';
	@import 'components/wrapper';

// Layout.

	@import 'layout/header';
	@import 'layout/banner';
	@import 'layout/footer';
	@import 'layout/navPanel';



//Stackbit Banner
	@import 'imports/banner';

.videoframe {padding-top:56%;position:relative;width:100%;}
.videoframe iframe {height:100%;left:0;position:absolute;top:0;width:100%;}
.wrapper {clear:both;}
.buttonorange {padding:10px 15px;background:#FFAC78;border-radius:15px;color:#fff;text-decoration:none;font-weight:bold;}
html {font-size:4vw}

/*header*/
#header {height:6.5em;}
#tsclogo {float:right;margin-right:1.5em;}
#header nav {top:57px;margin:0;width:100%;display:inline-block;padding:0 0 0 8px;height:65px;background:#fff;}

#header.alt nav {margin-right:0;top:77px;padding-left:23px;}
#header.alt nav ul {margin-top:-7px;}
#header nav ul li a {color:#2F373F;}

/*home header*/
#banner .content {background:none;padding:0 30px 50px;}
#banner .innerleft {float:left;width:40%;}
#banner .innerright {float:right;width:56%;}
#banner .innerright h2 {text-align:center;font-size:2vw;}
#banner .innerright h3 {text-align:center;color:#FDAC7D;font-size:3vw;}

/*countdown clock*/
#clockdiv {font-family:sans-serif;color:#fff;display:block;font-weight:100;text-align:center;margin:0 auto 15px;}
#clockdiv > div {padding:10px;border-radius:3px;display:inline-block;}
#clockdiv div > span {border-radius:3px;display:inline-block;font-size:3.5vw;font-weight:bold;}
#clockdiv .smalltext {padding-top:5px;font-size:1.5vw}

#videohp .innerleft {float:left;width:40%;}
#videohp .innerright {float:right;width:56%;text-align:center;}

#address {display:inline-block;background:#313B78;width:100%;color:#fff;margin:50px 0 0;border-bottom:#96DAED solid 12px;border-top:#96DAED solid 12px;}
#address .inner {background:blue;display:block;}
#address .innerleft {float:left;width:56%;}
#address .innerright {float:right;width:40%;text-align:center;}
#address strong, #address h2 {color:#fff;}

#features {background-image:linear-gradient(to right, #6B55DB, #54C0E4);margin-top:-7px;}
#features h2 {text-align:center;color:#fff;}
#features h3, #features p {color:#fff;}
#features h3 {text-align:center;font-size:18px;}
#features li {display:flex;}
#features p {margin:auto;}

	@media screen and (min-width:1280px) {
#banner .innerright h2 {font-size:25px;}
#banner .innerright h3 {font-size:59px;}

#clockdiv {font-size:30px;}
#clockdiv div > span {font-size:75px;}
#clockdiv .smalltext {font-size:30px;}
	}

	@media screen and (max-width: 1100px) {
#banner {height:28em;}
	}

	@media screen and (max-width: 900px) {
#banner {height:27em;}
	}

	@media screen and (max-width: 736px) {
#header {height:6em !important;}
.navPanelToggle {top:38px !important;margin-right:9px;}
#header nav {display:none;}

#header.alt {height:3em !important;}
#header.alt .navPanelToggle {display:block;position:relative !important;float:right;clear:both;margin-right:9px;top:0 !important;}

#main {margin-top:43px;}

#banner {height:58em;}
#banner .innerleft, #banner .innerright, #videohp .innerleft, #videohp .innerright {width:100%;}
#banner .innerright, #videohp .innerright {padding-top:22px;}
#banner .innerright h2 {font-size:4vw;}
#banner .innerright h3 {font-size:7vw;}
#clockdiv div > span {font-size:6.5vw;}
#clockdiv .smalltext {font-size:4.5vw}

#address {padding-top:25px;padding-bottom:25px;}

#features {padding-left:10px;padding-right:10px;}
ul.features li h3 {min-width:30%;}
#features h3 {padding:0;}
#features h3 span {clear:both;display:block;}
#features img {width:70%;} 
	}

	@media screen and (max-width: 600px) {
#banner {height:50em;}
	}